sap-client/src/main/resources/wsdl/sap/zmaterial_availability_b.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
	targetNamespace="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN__ZMATERIAL_AVAILABILITY_B">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization
					xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer
					uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN__ZMATERIAL_AVAILABILITY_B_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization
					xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled
					xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer
					uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
					wsp:Optional="true" />
				<wsaw:UsingAddressing
					xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
					wsp:Optional="true" />
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__ZMATERIAL_AVAILABILITY">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapsession:Session
					xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
					<sapsession:enableSession>false</sapsession:enableSession>
				</sapsession:Session>
				<sapcentraladmin:CentralAdministration
					xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
					wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>0A0701080B241ED6B7AB8A8147DD6845
					</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__ZBAPI_MATERIAL_AVAILABILITY">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required
					xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit
					xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking
					xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM
					xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char2">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="2" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char20">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char4">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="decimal5.0">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="5" />
					<xsd:fractionDigits value="0" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="quantum13.3">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="13" />
					<xsd:fractionDigits value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="unit3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="ZBAPI_MATERIAL_AVAILABILITY">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CHECK_RULE" type="tns:char2"
							minOccurs="0" />
						<xsd:element name="ENQUIRY_QTY" type="tns:decimal5.0" />
						<xsd:element name="MATERIAL" type="tns:char20" />
						<xsd:element name="PLANT" type="tns:char4"
							minOccurs="0" />
						<xsd:element name="STGE_LOC" type="tns:char4"
							minOccurs="0" />
						<xsd:element name="UNIT" type="tns:unit3"
							minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZBAPI_MATERIAL_AVAILABILITYResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="REPLY_ENQUIRY_QTY"
							type="tns:quantum13.3" />
						<xsd:element name="REPLY_ERROR_DETAIL"
							type="tns:char20" />
						<xsd:element name="REPLY_RETURN_CODE" type="tns:char2" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZBAPI_MATERIAL_AVAILABILITY">
		<wsdl:part name="parameters"
			element="tns:ZBAPI_MATERIAL_AVAILABILITY" />
	</wsdl:message>
	<wsdl:message name="ZBAPI_MATERIAL_AVAILABILITYResponse">
		<wsdl:part name="parameter"
			element="tns:ZBAPI_MATERIAL_AVAILABILITYResponse" />
	</wsdl:message>
	<wsdl:portType name="ZMATERIAL_AVAILABILITY">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem
					docURL="http://frddevci.celesiogroup.com:8042/sap/bc/esdt/docu/sd_text?sap-client=400&amp;sd_name=ZMATERIAL_AVAILABILITY" />
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsp:Policy>
			<wsp:PolicyReference
				URI="#IF__ZMATERIAL_AVAILABILITY" />
		</wsp:Policy>
		<wsdl:operation name="ZBAPI_MATERIAL_AVAILABILITY">
			<wsp:Policy>
				<wsp:PolicyReference
					URI="#OP__ZBAPI_MATERIAL_AVAILABILITY" />
			</wsp:Policy>
			<wsdl:input message="tns:ZBAPI_MATERIAL_AVAILABILITY" />
			<wsdl:output
				message="tns:ZBAPI_MATERIAL_AVAILABILITYResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZMATERIAL_AVAILABILITY_B"
		type="tns:ZMATERIAL_AVAILABILITY">
		<wsp:Policy>
			<wsp:PolicyReference
				URI="#BN__ZMATERIAL_AVAILABILITY_B" />
		</wsp:Policy>
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZBAPI_MATERIAL_AVAILABILITY">
			<soap:operation
				soapAction="urn:sap-com:document:sap:rfc:functions:ZMATERIAL_AVAILABILITY:ZBAPI_MATERIAL_AVAILABILITYRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZMATERIAL_AVAILABILITY_B_soap12"
		type="tns:ZMATERIAL_AVAILABILITY">
		<wsp:Policy>
			<wsp:PolicyReference
				URI="#BN__ZMATERIAL_AVAILABILITY_B_soap12" />
		</wsp:Policy>
		<wsoap12:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZBAPI_MATERIAL_AVAILABILITY">
			<wsoap12:operation
				soapAction="urn:sap-com:document:sap:rfc:functions:ZMATERIAL_AVAILABILITY:ZBAPI_MATERIAL_AVAILABILITYRequest"
				style="document" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZMATERIAL_AVAILABILITY">
		<wsdl:port name="ZMATERIAL_AVAILABILITY_B"
			binding="tns:ZMATERIAL_AVAILABILITY_B">
			<soap:address
				location="http://frddevci.celesiogroup.com:8042/sap/bc/srt/rfc/sap/zmaterial_availability/400/zmaterial_availability/zmaterial_availability_b" />
		</wsdl:port>
		<wsdl:port name="ZMATERIAL_AVAILABILITY_B_soap12"
			binding="tns:ZMATERIAL_AVAILABILITY_B_soap12">
			<wsoap12:address
				location="http://frddevci.celesiogroup.com:8042/sap/bc/srt/rfc/sap/zmaterial_availability/400/zmaterial_availability/zmaterial_availability_b" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>