c3po/src/main/resources/wsdl/POService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://service.formation.ocp.fr/" name="POService" targetNamespace="http://service.formation.ocp.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.formation.ocp.fr/" elementFormDefault="unqualified" targetNamespace="http://service.formation.ocp.fr/" version="1.0">

  <xs:element name="order" type="tns:order"/>

  <xs:element name="orderResponse" type="tns:orderResponse"/>

  <xs:complexType name="order">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:poInput"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="poInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCustomer" type="xs:string"/>
      <xs:element name="idProduct" type="xs:int"/>
      <xs:element name="quantity" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:poOutput"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="poOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element name="price" type="xs:double"/>
      <xs:element name="returnCode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="order">
    <wsdl:part element="ns1:order" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderResponse">
    <wsdl:part element="ns1:orderResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="POService">
    <wsdl:operation name="order">
      <wsdl:input message="ns1:order" name="order">
    </wsdl:input>
      <wsdl:output message="ns1:orderResponse" name="orderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>